<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/932be370-2056-4cc6-851f-0e99443c8ea1/resourceGroups/TEST_JL/providers/Microsoft.Web/sites/PizzaHutBotService</ResourceId>
    <ResourceGroup>TEST_JL</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://pizzahutbotservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pizzahutbotservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PizzaHutBotService</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PizzaHutBotService</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>